:root{
    --primary-gb: #1e1f26;
    --secondary-bg: #2e3038;
    --tertiary-bg: #32343b;
    --accent-color: #764df0;
    --gradient-color: #498ef5;
    --text-primary: #f0f4f8;
    --text-secondary: #d1d5db;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --border-radius: 8px;
    --transition-speed: 0.3s;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary-gb);
    color: var(--text-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.mainContent{
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleWrapper{
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
    text-align: center;
}

.title{
    font-size: 3rem;
    margin: 0;
    background: linear-gradient(90deg, var(--accent-color), var(--gradient-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 750;
}

.subtitle{
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin: 10px 0 0;
    font-weight: 600;
}

.userContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modelWrapper{
    color: var(--text-secondary);
    font-size: 1.2rem;
}

.modelSelectLabel{
    margin-right: 10px;
    font-weight: 500;
    color: var(--text-primary);
}

.modelSelect{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    font-size: 1rem;
    background-color: var(--secondary-bg);
    border-image: linear-gradient(90deg, var(--accent-color), var(--gradient-color)) 1;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    font-weight: 100;
    padding: 4px;
    transition: all var(--transition-speed) ease;
    font-weight: 100;
    color: var(--text-secondary);
    box-shadow: 0 4px 6px var(--shadow-color)
}

.modelSelect:hover{
    background-color: var(--tertiary-bg);
}

.modelSelect:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--tertiary-bg);
}

.modelSelect:hover {
    background-color: var(--tertiary-bg);
}

.modelSelect option{
    background-color: var(--secondary-bg);
    padding: 10px;
    font-weight: 100;
    color: var(--text-secondary);
}


.filePath{
    font-size: 1rem;
    font-weight: 200;
    color: var(--text-secondary);
    margin-top: 8px;
    word-break: break-all;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.fileUpload{
    display: none;
}

.fileUploadLabel, .analyzeBtn{
    border: none;
    cursor: pointer;
    display: block;
    border-radius: var(--border-radius);
    background-image: linear-gradient(90deg, var(--accent-color), var(--gradient-color));
    color: var(--text-primary);
    padding-left: 10px;
    transition: all var(--transition-speed) ease;
    box-shadow: 0 4px 6px var(--shadow-color);
    color: var(--text-secondary);
    font-size: 1.2rem;
    font-weight: 400;
}

.fileUploadLabel:hover, .analyzeBtn:hover{
    background-image: linear-gradient(90deg, #6e47e3, #3c5bd7);
    box-shadow: 0 6px 12px var(--shadow-color);
}

.analyzeBtn{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
}

.previewWrapper{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px dashed rgba(255, 255, 255, 0.1);
    transition: all var(--transition-speed) ease;
    max-width: 750px;
    max-height: 750px;
}

.preview{
    display: none;
    width: 98%;
    height: 98%;
    border-radius: var(--border-radius);
    object-fit: contain;
}

.resultText {
    font-size: 1.3rem;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background: rgba(77, 139, 240, 0.1);
    border-radius: var(--border-radius);
    border-left: 4px solid var(--accent-color);
}

@media only screen and (max-width: 768px) {
    .userContent {
        grid-template-columns: 1fr;
    }
    
    .previewWrapper {
        display: none;
    }
    
    .contentWrapper {
        padding: 20px;
    }
    
    .title {
        font-size: 2rem;
    }
}